.has-input-blocker {
  &:not(.input-blocker-active) ~ .input-blocker {
    display: none;
  }
  &.input-blocker-active {
    display: none;
  }
}

.input-blocker {
  position: relative;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  .input-blocker-button {
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
  }
}
